body {
    background-color: rgb(83, 175, 236);
}

table {
    width: 100%;
    border: solid 2px #808000;
    background-color:   #ffff33;
}
    
    
    
h1 {
    font-family:'Merriweather', serif;
    text-align: center;
    font-size: 32px;
}

h2 {
    font-family: 'Space Mono', monospace;
    text-align: center;
    font-size: 22px;
}

th, td {
    border: 1px solid white;
    background-color: #ffff99;    
}

th {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    background-color: #ffff66;
    border: solid 1px white;
}

td {
    width: 25%;
    text-align: justify;
    text-indent: 3%;
}

.hightlight {
    background-color: rgb(147, 231, 79);
    font-style: italic;
}